@using SQLitePCL
@model IEnumerable<(RecordsMaster.Models.ApplicationUser User, bool IsUserRole, bool IsAdminRole)>

@{
    ViewData["Title"] = "Manage Users";
}


 @if (User.IsInRole("Admin")){
        var adminUsers = Model.Where(m => m.IsAdminRole);
        var regularUsers = Model.Where(m => !m.IsAdminRole);

        <h5>Admin Users</h5>

        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>User</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in adminUsers)
            {
                <tr>
                    <td>
                        <a asp-area="" asp-controller="UserRecords" asp-action="AdminViewUserRecords" asp-route-email="@item.User.Email"> @item.User.Email</a>
                    </td>
                    <td>
                        @if (item.User.Email == ViewBag.AdminEmail)
                        {
                            <span>  This user's permissions cannot be modified. </span>
                        }
                        else{
                        <form asp-action="SetUserRole" asp-controller="Account" method="post" style="display:inline;">
                            <input type="hidden" name="userId" value="@item.User.Id" />
                            @if (User.Identity?.Name == ViewBag.AdminEmail)
                            {
                                <button type="submit" name="role" value="User" class="btn btn-sm btn-primary" @(item.IsUserRole ? "disabled" : "")>Set as User</button>
                                <button type="submit" name="role" value="Admin" class="btn btn-sm btn-warning" @(item.IsAdminRole ? "disabled" : "")>Set as Admin</button>
                            }
                            @if (item.User.Email == User.Identity?.Name)
                            {
                                <span>  You cannot modify your own permissions. </span>
                            }
                            else
                            {
                                
                                <button type="submit" name="role" value="None" class="btn btn-sm btn-danger" @((!item.IsUserRole && !item.IsAdminRole) ? "disabled" : "")>Remove Roles</button>
                            }
                                

                        </form>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <h5>Regular Users</h5>

        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>User</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in regularUsers)
            {
                <tr>
                    <td>
                        <a asp-area="" asp-controller="UserRecords" asp-action="AdminViewUserRecords" asp-route-email="@item.User.Email"> @item.User.Email</a>
                    </td>
                    <td>
                        @if (item.User.Email == ViewBag.AdminEmail)
                        {
                            <span>  This user's permissions cannot be modified. </span>
                        }
                        else{
                        <form asp-action="SetUserRole" asp-controller="Account" method="post" style="display:inline;">
                            <input type="hidden" name="userId" value="@item.User.Id" />
                            @if (User.Identity?.Name == ViewBag.AdminEmail)
                            {
                                <button type="submit" name="role" value="Admin" class="btn btn-sm btn-warning" @(item.IsAdminRole ? "disabled" : "")>Set as Admin</button>
                            }
                            <button type="submit" name="role" value="User" class="btn btn-sm btn-primary" @(item.IsUserRole ? "disabled" : "")>Set as User</button>
                            <button type="submit" name="role" value="None" class="btn btn-sm btn-danger" @((!item.IsUserRole && !item.IsAdminRole) ? "disabled" : "")>Remove Roles</button>
                        </form>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }

    else {
        <h2 class='text-center'>Access Denied</h2>
        <p class='text-center'>You do not have permission to view this page.</p>
    }