@model IEnumerable<RecordsMaster.Models.RecordItemModel>

<h2>Record Detail</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Case#</th>
            <th>Barcode</th>
            <th>Record Type</th>
            <th>Box Number</th>
            <th>Digitized</th>
            <th>Closing Date</th>
            <th>Destroy Date</th>
            @if (User.IsInRole("Admin"))
            {
                 <th>Check In</th>
            }
            else{
                <th>Request Record?</th>
            }

            <th>Checked Out To</th>
            <th>History</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CIS</td>
                <td>@item.BarCode</td>
                <td>@item.RecordType</td>
                <td>@item.BoxNumber</td>
                <td>@(item.Digitized ? "Yes" : "No")</td>
                <td>@item.ClosingDate?.ToString("yyyy-MM-dd")</td>
                <td>@item.DestroyDate?.ToString("yyyy-MM-dd")</td>
                <td>
                    @if (!item.CheckedOut)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            using (Html.BeginForm("Checkout", "RecordCheckOut", new { id = item.ID }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                               <!-- <input type="submit" value="Check out" class="btn btn-primary" /> -->
                            }
                        }
                        if (User.IsInRole("User"))
                        {
                            using (Html.BeginForm("RequestRecord", "RecordCheckOut", new { id = item.ID }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Request" class="btn btn-primary" />
                            }
                        }
                    }
                    else
                    {
                        // Show check-in button for admin users
                        if (User.IsInRole("Admin"))
                        {
                            using (Html.BeginForm("CheckIn", "RecordCheckIn", new { id = item.ID }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Check in" class="btn btn-primary" />
                            }
                        }
                        if (User.IsInRole("User"))
                        {
                            // Display the email of the user who checked out
                            <p>Checked out</p>
                        }
                    }
                </td>
                <td>
                    @if (item.CheckedOut)
                    {
                        // Show the email of the user who checked out, or N/A
                        @(item.CheckedOutTo?.UserName ?? "N/A")
                    }
                </td>
                <td>
                    <a href="@Url.Action("CheckoutHistory", "RecordItems", new { id = item.ID })" class="btn btn-sm btn-info">View History</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Back to Search</a>