@model RecordsMaster.Models.RecordItemModel

@{
    ViewData["Title"] = "Record Details";
}

<h2>Record Details</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

<table class="table table-bordered">
    <tr>
        <th>CIS</th>
        <td>@Model.CIS</td>
    </tr>
    <tr>
        <th>Barcode</th>
        <td>@Model.BarCode</td>
    </tr>
    <tr>
        <th>Record Type</th>
        <td>@Model.RecordType</td>
    </tr>
    <tr>
        <th>Box Number</th>
        <td>@Model.BoxNumber</td>
    </tr>
    <tr>
        <th>Digitized</th>
        <td>@(Model.Digitized ? "Yes" : "No")</td>
    </tr>
    <tr>
        <th>Closing Date</th>
        <td>@Model.ClosingDate?.ToString("yyyy-MM-dd")</td>
    </tr>
    <tr>
        <th>Destroy Date</th>
        <td>@Model.DestroyDate?.ToString("yyyy-MM-dd")</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>@(Model.CheckedOut ? "Checked Out" : "Available")</td>
    </tr>
    <tr>
        <th>Checkout History</th>
        <td><a href="@Url.Action("CheckoutHistory", "RecordItems", new { id = Model.ID })" class="btn btn btn-info m-1">View History</a></td>
    </tr>
    @if (Model.CheckedOut && Model.CheckedOutTo != null)
    {
        <tr>
            <th>Checked Out To</th>
            <td>@Model.CheckedOutTo.UserName</td>
        </tr>
    }
</table>



@if (Model.Requested)
{
    @if (User.IsInRole("Admin"))
    {
        @if (!Model.ReadyForPickup)
        {
            @if (Model.Digitized)
            {
                <p>This record has been digitized. The user may not need the physical record. Prepare a link to the digital file or get the physical record from <b>Box @Model.BoxNumber</b>. When that's done, click the 'Ready for Pickup' button below </p>
                @using (Html.BeginForm("ReadyForPickup", "RecordCheckOut", new { id = Model.ID }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Ready for Pickup" class="btn btn-success" />                   
                    }
            }
            else{
                @using (Html.BeginForm("ReadyForPickup", "RecordCheckOut", new { id = Model.ID }, FormMethod.Post))
                {
                     @Html.AntiForgeryToken()
                    <input type="submit" value="Ready for Pickup" class="btn btn-success" />                   
                }
            }
        }
        else
            {
                <p>User will have to check out record.</p>
            }
    }
    else{

        @if (!Model.ReadyForPickup){
        <p> You will be notified when the record is ready. Digitized records may be sent electronically.</p>
        }
        else{
        <p>The record is ready for pickup. Click 'Check Out'. </p>
        @using (Html.BeginForm("Checkout", "RecordCheckOut", new { id = Model.ID }, FormMethod.Post)){
                @Html.AntiForgeryToken()
            <input type="submit" value="Check Out" class="btn btn-success" />                   
        }
        }
    
    
    }


}
else
{
    @if (User.IsInRole("Admin")){

        @if (Model.CheckedOut)
        {
            @using (Html.BeginForm("CheckIn", "RecordCheckIn", new { id = Model.ID }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Check In" class="btn btn-danger" />
            }
        }


    }
}

    <br/>
   <a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Back to Search</a>

