@{
    ViewData["Title"] = "Home Page";
}
@model List<RecordsMaster.Models.RecordItemModel>

    @if (User.IsInRole("Admin"))
    {
        <form method="get" action="@Url.Action("SearchRecords", "RecordItems")" onsubmit="return validateInput()">
            <div class="form-group">
                <h5 class="mt-1">Search</h5>
                <div class="input-group">
                    <input name="input" id="Input" class="form-control" placeholder="Case number or barcode" required />
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
            
        </form>
        @section Scripts 
        {
            <script>
                function validateInput() {
                    const input = document.getElementById('Input').value;

                    if (!input) {
                        alert('Please enter a CIS or BarCode.');
                        return false; // Prevent form submission if input is empty
                    }
                    return true; // Allow form submission
                }
            </script>
        }
    
     
        @if (!Model.Any())
            {
               <!-- intentionally blank --> 
            }
        else
            {
                <h5 class="mt-5">Requested Records</h5>

                <table class="table table-striped table-bordered"> 
                    <thead class="table-dark">
                    <tr>
                        <th>Case#</th>
                        <th>Barcode</th>
                        <th>Record Type</th>
                            @if (User.IsInRole("Admin"))
                            {
                                <th>Box Number</th>
                                <th>Digitized</th>
                            }
                        <th>Closing Date</th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                            { 
                                <tr>
                                    <td> <a asp-area="" asp-controller="RecordCheckout" asp-action="Checkout" asp-route-id="@item.ID" asp-route-cis="@item.CIS">@item.CIS</a></td>
                                    <td> @item.BarCode</td>
                                    <td>@item.RecordType</td>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <td>@item.BoxNumber</td>
                                        <td>@(item.Digitized ? "Yes" : "No")</td>
                                    }
                                    <td>@item.ClosingDate?.ToString("yyyy-MM-dd")</td>  
                                </tr>
                                
                            }
                    </tbody>

                </table>
            }
         
    }

    else if (User.IsInRole("User"))
        {
        <form method="get" action="@Url.Action("CaseWorkerSearch", "RecordItems")" onsubmit="return validateCaseWorkerInput()">
            <div class="form-group mb-4">
                <label for="CaseWorkerInput">Enter Case number or barcode (YY-DDDDD):</label>
                <input name="input" id="CaseWorkerInput" placeholder="Case number or barcode" class="form-control" required />
                <label for="ClosingDate">Enter closing date (not required if searching by barcode)</label>
                <input name="closingDate" id="ClosingDate" type="date" class="form-control" />
                <div class="text-center mt-2">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
            
        </form>
        @section Scripts
        {
            <script>
                function validateCaseWorkerInput() {
                    const input = document.getElementById('CaseWorkerInput').value.trim();
                    const closingDate = document.getElementById('ClosingDate').value;
                    const barcodePattern = /^\d{2}-\d{5}$/;

                    if (!input) {
                        alert('Please enter a CIS or BarCode.');
                        return false;
                    }

                    if (!barcodePattern.test(input) && !closingDate) {
                        alert('Please enter a closing date when searching by case number.');
                        return false;
                    }

                    return true;
                }
            </script>
        }

            if (Model.Any(record => record.ReadyForPickup))
            {  
                <div class="alert alert-success" role="alert">
                    We've found these records. Please check them out. 
                </div>

                        <table class="table table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th>Case#</th>
                                    <th>BarCode</th>
                                    <th>Record Type</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                        @foreach (var record in Model.Where(record => record.Requested && !record.CheckedOut))
                            {
                                <tr>
                                    <td>
                                        @record.CIS
                                    </td>
                                    <td>@record.BarCode</td>
                                    <td>@record.RecordType</td>
                                    <td>
                                        <a asp-area="" asp-controller="RecordCheckout" asp-action="Checkout" asp-route-id="@record.ID" asp-route-cis="@record.CIS"><button type="submit" class="btn btn-primary mx-auto">Check out</button></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
        }

else
    {
        @if (User.Identity?.IsAuthenticated == true)
        {
            @if (!User.IsInRole("Admin") || (!User.IsInRole("User"))) 
            {
                <h1>Welcome, @User.Identity.Name!</h1>
                    <p>You are logged in, but you do not have access to the search functionality.</p> 

            }
        }
        
        else
        {

        <h5>Login</h5>

         @if (TempData["LoginError"] != null)
            {
                <div class="alert alert-danger">@TempData["LoginError"]</div>
            }

            <form asp-controller="Account" asp-action="Login" method="post">
                <div class="form-group p-1">
                    <label>Email</label>
                    <input type="email" name="email" required  class="form-control"/>

                    <label>Password</label>
                    <input type="password" name="password" required  class="form-control" /> <br/>

                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>

            <p>
                Don't have an account? <a asp-controller="Account" asp-action="Register">Register here</a>
            </p>

   
            <h5>Reset password</h5>
            <form asp-controller="PasswordReset" asp-action="ResetPassword" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group p-1">
                    <input type="email" name="Email" id="PasswordResetEmail" class="form-control" required placeholder="Enter your email address" />
                </div>
                <button type="submit" class="btn btn-primary">Go</button>
            </form>

        if (TempData["PasswordResetMessage"] != null) 
            { 
                <div class="alert alert-info">@ViewData["PasswordResetMessage"]</div> 
            }
                
    
    }


 }

